/* -----------------------------------------
   General Styling
----------------------------------------- */

/* font styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

/* Body styling */
body {
    background-color: rgb(0, 0, 0);
}
h2, h3, h4, p {
    color: white;
}
h2 {
    font-weight: lighter;
    
}


/* -----------------------------------------
   Header Styling
----------------------------------------- */

.top-border {
    background-color: hsl(0, 0%, 0%); /* Dark background */
    display: flex; /* Enables flexbox */
}

.top-border > h1 {
    color: rgb(251, 248, 248);
    margin-left: 70px;
    font-weight: 100;
    
}

button {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-top: 25px;
    margin-left: 10px;
}

#btn-first {
    margin-left: auto;
    
}

#btn-last {
    margin-right: 50px;
}

/* -----------------------------------------
   Image Styling
----------------------------------------- */

.dataImg {
    height: 50%; /* Sets the height to 50% of its parent */
    width: 35%; /* Sets the width to 35% of its parent */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 20px;
    border: 5px solid;
    border-radius: 10px;
}

/* -----------------------------------------
   Video Background Styling
----------------------------------------- */

.video-background {
    width: 100%; /* Sets the width to 100% of its parent */
    height: 100%; /* Sets the height to 100% of its parent */
    overflow: hidden; /* Hides any overflow */
}

.video-background video {
    width: 100%; /* Sets the video width to 100% of its container */
    height: 100%; /* Sets the video height to 100% of its container */
    object-fit: cover; /* Ensures the video covers the container without distortion */
}

/* -----------------------------------------
   Button Styling
----------------------------------------- */

button {
    border: none; /* Removes default border */
    border-radius: 10px; /* Rounds the corners of the button */
    padding: 5px; /* Adds padding inside the button */
    font-family: 'Raleway', serif;
    color: white; /* Sets the text color to white */
    background-color: transparent;
    font-size: large;
}
button:hover {
    cursor: pointer;
    color: hsl(169, 42%, 70%);
}
button:active {
    color: hsl(169, 31%, 42%);
}


/* -----------------------------------------
   About Section Styling
----------------------------------------- */

.aboutMentalHealth, #introVideo {
    position: relative; /* Establishes a positioning context for absolute positioning inside this element */
    overflow: hidden; /* Ensures that any overflow is hidden */
    padding: 60px; /* Adds padding around the content */
    min-height: 30px; /* Sets a minimum height for the section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMentalHealth > p {
    width: 50%;
    padding: 10px;
}

.sourceLink {
    color: white;
    font-weight: lighter;
    font-size: small;
}

.sourceLink {
    font-style: italic; /* Makes the source link italic */
}


/* -----------------------------------------
   Data Section Styling
----------------------------------------- */
.data-container {
    margin-top: 70px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.data-container-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.dataSourceLink{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: 235px;
}

li {
    font-weight: 600;
    margin: 50px;
}

/* -----------------------------------------
   Impact Section Styling
----------------------------------------- */

.impact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.impact-container > p {
    width: 50%;
    padding: 2%;
    
}

/* -----------------------------------------
   News Section Styling
----------------------------------------- */
.news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.news-article-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 2%;
}

/* -----------------------------------------
   Roation Box Section Styling
----------------------------------------- */

.container {
    display: flex;
    justify-content: center;
    position: relative; /* Positioning context for buttons */
    margin-bottom: 10%;
}

.rotating-box {
    width: 400px; /* Width of the box */
    height: 400px; /* Height of the box */
    background-color: transparent; /* Box color */
    border: 1px solid #ccc; /* Box border */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 5s infinite linear; /* Rotation animation */
    transition: transform 0.5s; /* Smooth transition for rotation */
}

.content {
    text-align: center; /* Center the text */
    object-fit: cover;
}


.nav-buttons {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 15%;
    right: 15%;
    display: flex;
    justify-content: space-between; /* Space out the buttons */
    transform: translateY(-50%); /* Center the buttons */
}

.nav-button {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    color: white; /* White color for arrows */
    font-size: 24px; /* Font size for arrows */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px; /* Padding for buttons */
}

