/* -----------------------------------------
   General Styling
----------------------------------------- */

/* font styling */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }


/* Body styling */
body {
    background-color: rgb(0, 0, 0);
}
h2, h3, h4, p {
    color: white;
}
h2 {
    font-weight: lighter;
    
}


/* -----------------------------------------
   Header Styling
----------------------------------------- */

.top-border {
    background-color: hsl(0, 0%, 0%); /* Dark background */
    display: flex; /* Enables flexbox */
}

.top-border > h1 {
    color: rgb(251, 248, 248);
    margin-left: 70px;
    font-weight: 100;
    
}

button {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-top: 25px;
    margin-left: 10px;
}

#btn-first {
    margin-left: auto;
    
}

#btn-last {
    margin-right: 50px;
}

/* -----------------------------------------
   Image Styling
----------------------------------------- */

.dataImg {
    height: 60%; /* Sets the height to 60% of its parent */
    width: 50%; /* Sets the width to 50% of its parent */
    display: block; /* Ensures the image is displayed as a block element */
    margin: 20px;
    border: 5px solid;
    border-radius: 10px;
}

/* -----------------------------------------
   Video Background Styling
----------------------------------------- */

.video-background {
    width: 100%; /* Sets the width to 100% of its parent */
    height: 100%; /* Sets the height to 100% of its parent */
    overflow: hidden; /* Hides any overflow */
}

.video-background video {
    width: 100%; /* Sets the video width to 100% of its container */
    height: 100%; /* Sets the video height to 100% of its container */
    object-fit: cover; /* Ensures the video covers the container without distortion */
}

/* -----------------------------------------
   Button Styling
----------------------------------------- */

button {
    border: none; /* Removes default border */
    border-radius: 10px; /* Rounds the corners of the button */
    padding: 5px; /* Adds padding inside the button */
    font-family: 'Raleway', serif;
    color: white; /* Sets the text color to white */
    background-color: transparent;
    font-size: large;
}
button:hover {
    cursor: pointer;
    color: hsl(169, 42%, 70%);
}
button:active {
    color: hsl(169, 31%, 42%);
}


/* -----------------------------------------
   About Section Styling
----------------------------------------- */

.aboutMentalHealth, #introVideo {
    position: relative; /* Establishes a positioning context for absolute positioning inside this element */
    overflow: hidden; /* Ensures that any overflow is hidden */
    padding: 60px; /* Adds padding around the content */
    min-height: 30px; /* Sets a minimum height for the section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMentalHealth > p {
    width: 50%;
    padding: 10px;
}

.sourceLink {
    color: white;
    font-weight: lighter;
    font-size: small;
}

.sourceLink {
    font-style: italic; /* Makes the source link italic */
}


/* -----------------------------------------
   Data Section Styling
----------------------------------------- */
.data-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.data-container-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.dataSourceLink{
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-right: 235px;
}

li {
    font-weight: 600;
    margin: 50px;
}

/* -----------------------------------------
   Impact Section Styling
----------------------------------------- */

.impact {
    margin: 20px 0; /* Adds margin for spacing */
}
